<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'CAD', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row w-100">
        <!-- Left Section for Links -->
        <div class="col-md-4">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "About Us", home_about_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Show People", people_path, class:"nav-link" %>
            </li>
          </ul>
        </div>

        <!-- Center Section for Search Bar -->
        <div class="col-md-4 text-center">
          <form class="d-flex justify-content-center" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>

        <!-- Right Section (Empty for alignment) -->
        <div class="col-md-4">
          <!-- Empty for alignment -->
        </div>
      </div>
    </div>
  </div>
</nav>
